.square {
  height: 100%;
  /* Rectangle Copy 8: */
  background: #09192A;
  border: 1px solid #4A90E2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50), inset 0 0 5px 0 #3691FC;
  position: relative;
}
.square.light {
  z-index: 100;
}
.halo{
  border: solid 1px #50E3C2;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.light .halo{
  animation: squareHalo 1000ms ease;
}
@keyframes squareHalo {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

