<div class="grid">
  <div class="counter" >
    <p>{{gameService.length - sequenceService.currentIndex}} Remaining</p>
  </div>
  <app-grid
    [width]="gameService.width"
    [height]="gameService.height"></app-grid>
</div>
<div class="match_buttons">
  <button class="match_button btn" [ngClass]="button_state.sound" (click)="sequenceService.matchSoundGuess()">SOUND</button>
  <button class="match_button btn" [ngClass]="button_state.position" (click)="sequenceService.matchPositionGuess()">POSITION</button>
</div>
