/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  background-color: #09192A;
  color: #4A90E2;
}
.site-wrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-size: 30px;
  margin: 40px 0;
  text-align: center;
  font-weight: 200;
}
h2 {
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
  text-align: left;
  font-weight: 200;
  color: #50E3C2;
}
.btn {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #4A90E2;
  box-shadow: 0 0px 4px 0 #4A90E2;
  border-radius: 10px;
  background-color: transparent;
  font-weight: 200;
  font-size: 20px;
  color: #4A90E2;
  letter-spacing: 1px;
  text-shadow: 0 0px 4px #4A90E2;
  cursor: pointer;
  position: relative;
}
.grid {
  position: relative;
}
.counter {
  position: absolute;
  right: 0;
  bottom: 100%;
}
.counter p{
  /* 13 Remaining: */
  font-family: Montserrat-SemiBold;
  font-size: 14px;
  color: #50E3C2;
  letter-spacing: 0.7px;
  text-align: left;
  text-shadow: 0 2px 4px #50E3C2;
  text-transform: uppercase;
}
.match_buttons {
  display: flex;
  justify-content: space-between;
}
.match_buttons .btn {
  width: 45%;
}
.match_button.wrong {
  color: gray;
  border-color: gray;
  text-shadow: 0 0px 4px gray;
  box-shadow: 0 0px 4px 0 gray;
}
.match_button.correct {
  color: #50E3C2;
  border-color: #50E3C2;
  text-shadow: 0 0px 4px #50E3C2;
  box-shadow: 0 0px 4px 0 #50E3C2;
}
.btn:after {
  content: '';
  display: block;
  border: solid 1px #50E3C2;
  background-color: transparent;
  position: absolute;
  border-radius: 10px;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  opacity: 0;
}
.match_button.correct:after {
  animation: btnHalo 500ms ease forwards;
}
.match_button.wrong:after {
  border-color: gray;
  animation: btnWrongHalo 500ms ease forwards;
}
table {
  width: 100%;
  border: solid 1px #4A90E2;
  box-shadow: 0 10px 40px 0 rgba(75, 146, 227, 0.51);
}
td, th {
  padding: 10px;
  text-align: left;
  font-weight: 200;
  text-shadow: 0 0px 4px #4A90E2;
  text-transform: uppercase;
}
tr:first-child th {
  text-align: center;
}
td {
  text-align: center;
  color: #50E3C2;
  text-shadow: 0 0px 4px #50E3C2;
}

@keyframes btnHalo {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
@keyframes btnWrongHalo {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}
