/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #09192A;
  color: #4A90E2;
}
.site-wrapper {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}
